body {
  padding-top: 70px;
  background-color: #f3f3f3;
}

.post_head h3{
    padding: 8px;
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 600;
}

.article {
    position: relative;
    background-color: white;
    display: block;
    margin: 0 0 10px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.article .article-title {
    font-weight: bold;
    color: black;
    margin: 0 0 10px 0;
    font-size: 20px;
}
.article a {
    color: black;
}

.article img {
    position: relative;
    float: left;
    height: 150px;
    width: 200px;
    margin: 0 20px 0 0;
}

.box {
    position: relative;
    background-color: white;
    display: block;
    margin: 0 0 10px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0 0 2px 2px;
}

.box-title {
    position: relative;
    background-color: white;
    display: block;
    padding: 10px;
    border: 1px #ddd;
    border-style: solid solid none solid;
    border-radius: 2px 2px 0 0;
    height: 40px;
    font-weight: bold;
}


.about {
    position: relative;
    background-color: white;
    display: block;
    margin: 0 0 10px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
}

.about img {
    width: 80px;
    height: 80px;
    display: inline;
    text-align: center;
    margin: 0 0 10px 0;
}



.container {
    padding-right: 90px;
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
}

form.control{
    padding-bottom: 12px;
}
.tag{
    margin-bottom: 20px;
    margin-top: 20px;
}

.alert{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 0px;
}

.dropdown {
  float: right;
  z-index: 5;
}

.media-foot .panel {
  margin-top: 10px;
}

.media-foot .panel-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.media-foot .panel-body p {
  position: relative;
  top: 7px;
  float: left;
}

.media-foot .btn {
    float: right;
}

.alert-success {
    color: darkslategray;
    background-color: lightgrey;
    border-color: lightgrey;
}
.right-index{
    text-align: center;
    padding-bottom: 20px;
}

.right-btn{
  float: right;
}

.post {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    max-width: 700px;
    text-indent: 2em;
    margin: 0 0 20px 150px;
}

.comment {
    max-width: 700px;
    margin-left: 150px;
    font-size: 20px;
}

.about_me{
    padding-left: 200px;
    padding-right: 200px;
}
.pagination{
    position: relative;
    left: 120px;
}

.foot {
    position: relative;
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 30px;
    font-size: 17px;
    font-family: Times;
}


.other-link{
  margin-top: 20px;
}

.newly-post {
  margin-bottom: 100px;
}

.newly-post p {
   margin-bottom: 0px;
}

.login-form {
  margin-top: 120px;
  margin-left: 300px;
  margin-bottom: 160px;
  max-width: 330px
}
.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.login-form .btn{
  margin-top: 20px;
}

#myModal div a {
  margin-right: 10px;
}

#myModal div