{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <div class="container">
        <div class="row">
            <!-- 文章标题 -->
            <div class="vp-head">
                <h2 align="center">{{ post.title }}</h2>
                <hr>
            </div>
            <!-- 文章内容 -->
            <div class="vp-post">
                <p>{{ post.body | safe }}</p>
                {% if current_user.is_authenticated %}
                    <div class="right-btn">
                    <a class="btn btn-primary" href="{{ url_for('.edit_post', id=post.id) }}" >编辑</a>
                    <a class="btn btn-primary btn-large" href="{{ url_for('.delete_post', id=post.id) }}">删除</a>
                    </div>
                {% endif %}
            </div>
            <!-- 评论部分 -->
            <div class="col-md-6 column">
                <div class="vp-comment">
                    <h4>评论</h4>
                    <hr>
                    {% for comment in comments %}
                        <p>{{ comment.body | safe }}</p>
                    <br>
                    {% if current_user.is_authenticated %}
                        <p>联系方式：{{ comment.connection }}</p>
                    <div class="right-btn">
                        <p><a class="btn btn-primary btn-large" href="{{ url_for('.delete_comment', id=comment.id) }}">删除</a></p>
                    </div>
                </div>
                {% endif %}
                <hr>
                {% endfor %}
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}