{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block body %}
    <div class="container" id="sumery-container">
        <div class="row">
		    <div class="col-md-8">
                <h3>文章</h3>
                {% for post in posts %}
                <hr>
                <div class="post_head"><h3>{{ post.title | safe }}</h3></div>
                <div class="media" margin="30px">
                  <a class="media-left" >
                    <img src="{{ post.head_pic }}" width="200" height="150" alt="...">
                  </a>
                  <div class="media-body">
                    {{ post.abstract }}<br><br>
                      <span class="right-btn">
                          {% if current_user.is_authenticated %}
                          <a class="btn btn-primary" href="{{ url_for('.edit_post', id=post.id) }}" >编辑</a>
                          <a class="btn btn-primary btn-large" href="{{ url_for('.delete_post', id=post.id) }}">删除</a>
                          <a class="btn btn-primary" href="{{ url_for('.post_pic', id=post.id) }}" >上传图片</a>
                          <a class="btn btn-primary" href="{{ url_for('.uploaded_file', id=post.id) }}" >主题图片</a>
                          {% endif %}
                          <a class="btn btn-primary" href="{{ url_for('.post', id=post.id) }}" >查看更多</a>
                      </span>
                  </div>
                </div>
                <div class="alert alert-success" role="alert">发布时间：{{ post.timestamp.strftime("%Y-%m-%d") }} &nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp分类：{{ post.tag}}</div>

                {% endfor %}
                <hr>
                <div>

                </div>
                {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.index') }}
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h3>个人资料</h3>
                <div class="right-index">
                    <hr>
                    <img src="{{ url_for('static', filename='test.jpg') }}" width="80" height="80"><br><br>
                    <p>邮箱：psheng@outlook.com</p>
                    <p>QQ：674799317</p>
                </div>
                <div class="newly-post">
                    <h3>最新文章<hr></h3>
                    {% for new_post in new_posts %}
                    <p><a href="{{ url_for('.post', id=new_post.id) }}">{{ new_post.title }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


