<!DOCTYPE html>
    <head>
        <title>From flask to Flask</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

<div class="page-header">
  <h1>我的博客</h1>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">首页</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 关于我</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        </ul>
    </div>
</nav>


    <body>
    <div class="container">
	    <div class="row clearfix">
		    <div class="col-md-8 column">
                <div class="jumbotron">
                        <h1>
                            你好，世界！
                        </h1>
                        <p>
                            这是正文部分
                        </p>
                        <p>
                             <a class="btn btn-primary btn-large" href="#">查看更多</a>
                        </p>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

