{% extends "base.html" %}

{% block body %}
    <div class="container">
	    <div class="row clearfix">
		    <div class="col-md-8 column">
                <div class="jumbotron">
                        <h1>
                            你好，世界！
                        </h1>
                        <p>
                            这是正文部分
                        </p>
                        <p>
                             <a class="btn btn-primary btn-large" href="#">查看更多</a>
                        </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


