{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<div class="tou">
  <h1 align="center">我的博客</h1>
</div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
          <div class="col-md-8">
            {% include '_post.html' %}
            <a class="btn btn-primary" href="{{ url_for('.upload_pic', id=id) }}" >上传图片</a>
            <a class="btn btn-primary" href="{{ url_for('.uploaded_file', id=id) }}" >主题图片</a>
          </div>
          <div class="col-md-4">
              {% include '_body_pic.html' %}
          </div>
        </div>
    </div>
{% endblock %}