{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block body %}
  <div class="container" id="sumery-container">
    <div class="row">
      <div class="col-md-8">
        {% for post in posts %}
          <div class="article">
            <img src="{{ post.head_pic }}">
            <div class="article-title">
              <a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a>
            </div>
            <p>{{ post.abstract }}</p>
            <div class="article-foot">
              <span>{{ post.timestamp.strftime("%Y-%m-%d") }}</span>
              {% if current_user.is_authenticated %}
                <span>
                  <a href="{{ url_for('.edit_post', id=post.id) }}">修改</a>
                </span>
                <span>
                  <a href="{{ url_for('.delete_post', id=post.id) }}">删除</a>
                </span>
                <span>
                  <a href="{{ url_for('.uploaded_file', id=post.id) }}">主题图片</a>
                </span>
                <span>
                  <a href="{{ url_for('.post_pic', id=post.id) }}">文章图片</a>
                </span>
              {% endif %}
            </div>
            <div style="clear: both"></div>
          </div>
        {% endfor %}
        <div class="long-btn" id="more" value=2 pages={{ pagination.pages }}>
          查看更多
        </div>
      </div>
      <div class="col-md-4">
        <div class="about">
          <img src="/static/test.jpg">
          <p>邮箱：psheng@outlook.com</p>
          <p>QQ：674799317</p>
        </div>
        <div class="box-title">
            <p>最新文章</p>
        </div>
        <div class="box">
          {% for new_post in new_posts %}
            <p><a href="{{ url_for('.post', id=new_post.id) }}">{{ new_post.title }}</a></p>
          {% endfor %}
        </div>
        <div class="box-title">
          <p>链接</p>
        </div>
        <div class="box">
          <p><a href="http://github.com/pshenglh" target="_blank">Github</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



